.avatar {
  width: 250px;
}
.main-content {
  background-color: #1abc9c;
   height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-content h2 {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

@media (max-width: 407px) {
.main-content h2 {font-size: 30px;}
}


.main-content p {
  font-size: 16px;
  font-weight: 400;
  color: white;
}


.line {
  width: 80px;
  height: 4px;
  background-color: white;
  
}

